# data/*
# !data/**/
data/corpus/abstrct-master
data/corpus/ArgumentAnnotatedEssays-2.0
data/corpus/cdcp_acl17
data/corpus/CRC_projection
data/corpus/DrInventor
data/corpus/MTX_en_projection
data/corpus/MTX_de_projection
data/corpus/PersuasiveEssays_projection
data/corpus/scidtb_argmin_annotations


!data/corpus/testing/*
# !data/**/testing/*
__pycache__
.vscode
.pytest_cache